<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Rating</th>
          <th>Address</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let construction of list$ | async">
          <td>{{ construction.id }}</td>
          <td>{{ construction.material }}</td>
          <td>{{ construction.trade }}</td>
          <td>{{ construction.cost_code }}</td>
          <td>{{ construction.price }}</td>
          <td>{{ construction.active }}</td>
          <td>
            <button class="btn btn-info" (click)="onDelete(Construction)">
              <i class="bi bi-file-earmark-x"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
